/* MadCap Table Style: */

/*<meta Version="9" conditions="Default.ScreenOnly,Default.PrintOnly" />*/

mcTableStyle
{
	name: Copy of Reflex Table Style 1;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #005596;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #005596;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #005596;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #005596;
	max-id: 4;
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-bottom-left-radius: 8px 8px;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #005596;
	background-color: #79b5e2;
	name: Column1;
	id: 0;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: device-cmyk(1,0.43,0,0.41);
	name: Column2;
	id: 1;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	name: Header1;
	id: 3;
	separator-color: #005596;
	font-weight: bold;
	size: 9px;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	font-size: 12pt;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #005596;
	name: Body1;
	id: 2;
	font-size: 12pt;
	text-align: justify;
}


/* Cell Styles: */
 
.TableStyle-Copy_of_Reflex_Table_Style_1
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #005596;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #005596;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #005596;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #005596;
	border-bottom-width: 1px;
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-bottom-left-radius: 8px 8px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-Column-Column1
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-Column-Column2
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-Head-Header1
{
	height: 9px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadI-Column1-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadI-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadE-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadF-Column1-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadF-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadH-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadD-Column1-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadD-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadC-Column1-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadC-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadB-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadA-Column1-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadA-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadG-Column1-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: #0482e0;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadG-Column1-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadI-Column2-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: #0482e0;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadI-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadE-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadF-Column2-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadF-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadH-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadD-Column2-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadD-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadC-Column2-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadC-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadB-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadA-Column2-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadA-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadG-Column2-Header1
{
	font-size: 12pt;
	font-weight: bold;
	background-color: device-cmyk(0.98,0.42,0,0.12);
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-HeadG-Column2-Header1 p
{
	font-size: 12pt;
	font-weight: bold;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootI-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootI-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootE-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootE-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootF-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootF-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootH-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootH-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootD-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootD-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootC-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootC-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootB-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootB-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootA-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootA-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootG-Column1-
{
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootG-Column1- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootI-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootI-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootE-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootE-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootF-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootF-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootH-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootH-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootD-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootD-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootC-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootC-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootB-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootB-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootA-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootA-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootG-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-FootG-Column2- p
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-Body-Body1
{
	
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyI-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyI-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyE-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	border-bottom-width: 1px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyE-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyF-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	border-bottom-width: 1px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyF-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyH-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyH-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyD-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	border-bottom-width: 1px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyD-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyC-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyC-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyB-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #005596;
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyB-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyA-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyA-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyG-Column1-Body1
{
	font-size: 12pt;
	text-align: justify;
	background-color: #79b5e2;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyG-Column1-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyI-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyI-Column2-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyE-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	border-bottom-width: 1px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyE-Column2-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyF-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	border-bottom-width: 1px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyF-Column2-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyH-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyH-Column2-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyD-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	border-bottom-width: 1px;
	border-bottom-color: #005596;
	border-bottom-style: solid;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyD-Column2-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyC-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyC-Column2-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyB-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: device-cmyk(1,0.43,0,0.41);
	border-right-style: solid;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyB-Column2-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyA-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyA-Column2-Body1 p
{
	font-size: 12pt;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyG-Column2-Body1
{
	font-size: 12pt;
	text-align: justify;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Copy_of_Reflex_Table_Style_1-BodyG-Column2-Body1 p
{
	font-size: 12pt;
}

