/*<meta />*/

body
{
	font-family: "Gill Sans MT", Arial, Helvetica, sans-serif;
	margin-left: 20px;
	font-size: 1.3em;
}

p,
td,
th
{
	margin-bottom: 6pt;
	font-size: 1.1em;
	margin-top: 0pt;
}

ol
{
	margin-bottom: 6pt;
	margin-top: 0pt;
	font-size: 18pt;
}

ul
{
	margin-bottom: 6pt;
	margin-top: 0pt;
}

/*
td ul {
	margin-left: -15px;
}
*/

li ul li,
li ol li
{
	font-size: 100%;
}

li ul,
li ol
{
	margin-top: 5px;
}

ol li ol
{
	list-style-type: lower-alpha;
}

li
{
	margin-bottom: 6pt;
	margin-top: 0pt;
	font-size: 18pt;
}

td
{
	margin-bottom: 6pt;
	vertical-align: top;
}

h1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-bottom: 12pt;
	mc-heading-level: 1;
	font-weight: bold;
	font-size: 1.8em;
	color: #005596;
	mc-hyphenate: never;
}

h2
{
	margin-bottom: 6pt;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	mc-heading-level: 2;
	font-weight: bold;
	font-size: 1.4em;
	color: #005596;
}

h3
{
	font-size: 1.2em;
	page-break-after: avoid;
	page-break-inside: avoid;
	margin-top: 12pt;
	margin-bottom: 0pt;
	mc-heading-level: 3;
	font-weight: bold;
	color: #005596;
}

p.note
{
	color: #616E14;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-image: url('../Images/notes.png');
	background-repeat: no-repeat;
	background-position: 10px10px;
	background-color: #f6fae1;
	padding-left: 60px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 14px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #BFD62F;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #BFD62F;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #BFD62F;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #BFD62F;
	margin-left: 15px;
	margin-right: 15px;
}

p.tip
{
	color: #a5910a;
	border: solid 1px #fbf2b1;
	background-color: #faf6d8;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
	text-align: left;
	margin-top: 0;
	background-repeat: no-repeat;
	background-image: url('../Images/tips.png');
	background-position: 10px10px;
	padding-left: 60px;
	border-color: #fbbb1e;
	padding-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

p.Warning
{
	background-color: #faebd7;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #e77b61;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e77b61;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e77b61;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e77b61;
	padding-right: 20px;
	padding-bottom: 14px;
	background-image: url('../Images/Warning.png');
	background-position: 10px10px;
	background-repeat: no-repeat;
	padding-left: 60px;
	padding-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
	color: #e31937;
}

span.Menu
{
	font-weight: bold;
	color: #19375F;
}

span.userinput
{
	font-family: "Courier New", Courier, fixed, monospace;
}

span.uicontrol
{
	color: #19375F;
	font-weight: bold;
	font-size: 18pt;
}

span.filepath
{
	font-style: italic;
}

p.FigureCaption
{
	margin-top: 0pt;
	margin-bottom: 12pt;
	color: #808080;
	font-size: 1.0em;
}

p.TableCaption
{
	margin-top: 12pt;
	margin-bottom: 0pt;
	color: #808080;
	font-size: 1.0em;
}

MadCap|miniTocProxy.footer
{
	
}

p.footer
{
	font-weight: normal;
	font-size: 0.9em;
	text-align: left;
	font-style: normal;
}

MadCap|keywordLink
{
	mc-label: 'See Also';
}

MadCap|relatedTopics
{
	mc-label: 'See Also';
}

MadCap|breadcrumbsProxy
{
	font-size: 95%;
}

MadCap|miniTocProxy
{
	text-decoration: underline;
	font-size: 90%;
}

MadCap|glossaryTerm
{
	font-weight: normal;
	font-style: normal;
	color: #000000;
}

MadCap|glossaryTerm.Popup
{
	
}

MadCap|glossaryProxy
{
	
}

p
{
	mc-hyphenate: never;
	font-size: 18pt;
}

MadCap|pageHeader
{
	color: #005596;
}

head
{
	
}

p.Header
{
	margin-top: 0pt;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 1em;
	color: #005596;
	margin-bottom: 0;
}

MadCap|pageFooter
{
	
}

MadCap|pageFooter.EvenPage
{
	
}

